{% extends 'base.html' %}

{% block navbar %}
    
{% endblock %}

<title>{% block title %}Sign In{% endblock %}</title>

{% block content %}
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 30px">Sign In:</h1>
    <form action="" method="post" class="text-center">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">User name:</label>
            <input type="text" class="form-control mx-auto" name="username" id="username"
                   style="max-width: 300px; border: solid 2px; border-radius: 20px;" placeholder="User name">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control mx-auto" name="password" id="password"
                   style="max-width: 300px; border: solid 2px; border-radius: 20px;" placeholder="Password">
        </div>

        {% if has_error %}
            <p class="form-error">Wrong UserName or Password</p>
        {% endif %}

        <button type="submit" class="btn btn-outline-dark"
                style="border: 2px solid; margin-top: 30px; border-radius: 15px"><b>Sign In</b></button>
    </form>
{% endblock %}